.sidebar_dragger {
  width: 10px;
  cursor: ew-resize;
  touch-action: none;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 100;
  background-color: transparent;
}

.drawer_wrapper {
  width: 100%;
  height: 100%;
  grid-row: 1;
  grid-column: 1;
}

.drawer {
  position: relative;
  width: 100%;
  height: 100%;
}

.calculator_button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border: none;
  background-color: aquamarine;
  cursor: pointer;
  font-size: 150%;
  height: 50px;
}
